<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MQTT_Host" value="127.0.0.1" />
    <add key="MQTT_Port" value="1883" />
    <add key="MQTT_RootTopic" value="harmonyhub" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>